:root {
  --black: #121212;
  --dblue: #004FA8;
  --lblue: #3CB9EE;
  --mblue: #1A76DC;
}
.container {
	
}
.nav {
	margin: 2vh 0vh;
}
.nav-link {
	color: var(--black);
	font-size: 14px;
	font-weight: 500;
}
.nav-link:hover {
	color: var(--dblue);
	border-bottom: 2px solid var(--dblue);
}
.nav-link:active {
	border-bottom: 2px solid var(--dblue) !important;
}
.navwhite {
	color: white;
}
.navwhite .nav-link {
	color: white;
}
.navwhite .nav-link:hover {
	border-bottom: 2px solid white;
}
.navsectorwhite {
	border-bottom: 1px solid white !important;
}
.navsector {
	border-bottom: 1px solid #3CB9EE;
	padding-bottom: 1vh;
	padding-top: 1vh;
}
.col-4 {
	display: flex;
	justify-content: center;
}
.sch {	 
	background-image: linear-gradient(120deg, #004FA8, #1A76DC 75%) !important;
	color: white;
	border-radius: 5px;
	display: flex;
	justify-content: flex-start;
	height: 370px;
	flex-direction: column;
	padding:0px;
	flex-wrap: nowrap;
}
.sch h5{
	font-weight: 400 ;
	
	margin-top: 2vh;
}
.mon {
	text-align: center;
	border-right: 1px solid white;
	padding: 10px 25px;
	width: 100px;
	font-size: 18px;
	vertical-align: center !important;

}
.insidesch {
	display: flex;
	
	margin: 15px -15px;
}
.insidesch:hover {
	background-color: #004FA8;
}
.insidesch2 {
	display: flex;
	flex-direction: column;
	
}
.insidesch2 div {
	display: flex;
	flex-direction: column;
	
}
.mainblock {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 3vh;
}
.mainblock div {

}
.maintext {
	height: 359px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.maintext h1 {
	font-size: 32px;
	font-weight: 700;
	background: -webkit-linear-gradient(#1A76DC, #004FA8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.maintext p {
	color: var(--black);
	margin-top: 1vh;
}

.news {
	padding-top: 5vh;
	padding-bottom: 5vh;
}
.news h1 {
	font-size: 30px;
	font-weight: 700;
	color: var(--dblue);
}
.newsblocks {
	padding-top: 2vh;
	padding-bottom: 2vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.newsblocks div {	
	height: 180px !important;
	border: 1px solid var(--mblue);
	border-radius: 5px;
	padding: 10px;
}
.newstext {
	margin: 0;
	width: 180px;
	border: none !important;
}

.btn-primary {
	margin-top: 15px;
	padding: 8px 25px !important;
	background-image: linear-gradient(45deg, #004FA8, #1A76DC 75%) !important;

}
.btn-primary:hover {
	background-image: none !important;
	background-color: #004FA8 !important;

}
.btnwhite:hover {
	background-color: white !important;
	color: var(--dblue) !important;
}
.footer {
	border-top: 2px solid var(--mblue);
	margin: 2vh 0vh;
	color: var(--mblue);
	padding: 2vh 0vw;
	display: flex;
	flex-direction: row !important;
	justify-content: space-between;
}
.icondiv {
	display: flex;
	justify-content: space-between;
}

.fwhite {
	color: white;
	border-top: 2px solid white;
}

.form-control {
	width: 350px !important;
	height: 45px !important;
	background-color: transparent !important;
	border: 1px solid white;
}
.form-group {
	margin: 25px 0px;
}
.two {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.darkimg {
	background-color: black;
	position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0.4;
}

.form-check {
	padding: 5px 10px;
}

th {
	color: var(--dblue);
	border-color: var(--dblue);
	width: 120px;

}
td {
	width: 120px;
}
table {
	margin:5vh 0vw;
	margin-bottom: 10vh !important;
}
.tabs {
	display: flex;
	justify-content: flex-start;
	margin-top: 5vh;
	align-items: center;
}
.tabs a {
	width: 200px;
	height: 40px;
	background-color: white;
	border: 1px solid var(--dblue);
	color: var(--dblue;) ;
	padding: 5px;
	text-align: center;
}
.tabs a:hover {
	background-image: linear-gradient(45deg, #004FA8, #1A76DC 75%) !important;
	color: white;
	text-decoration: none;
}
.activetab {
	background-color: var(--dblue) !important;
	color: white;
}

.search {
	margin: 5vh 0vw;
}
.btn-outline-secondary {
	color: var(--dblue) !important;
	border-color: var(--dblue) !important;
}
.btn-outline-secondary:hover {
	color: white !important;
	background-color: var(--dblue) !important;
}

.butlink {
	color:white;
}
.butlink:hover {
	text-decoration: none !important;
	color: var(--dblue);
}
.gradienttext {
	font-size: 28px;
	font-weight: 700;
	background: -webkit-linear-gradient(#1A76DC, #004FA8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card {
	flex-direction: row !important;
	padding: 20px 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 4vh 0vw;
	border: 1px solid rgba(0,79,168,0.3) !important;
	height: 280px;
	box-shadow: 0px 5px 10px rgba(151,151,151,0.10);
}
.cardtext {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 16px;
}
.rec {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: var(--mblue);
	text-align: center;
	padding: 25px 35px !important;
	border: 1px solid rgba(0,79,168,0.3);
	border-radius: 5px;
	margin-top: 4vh;

}
.rec h5 {
	text-align: center;
	padding-bottom: 25px;
	border-bottom: 1px solid var(--mblue);
	font-size: 18px;
}
.rec p {
	margin-top: 1vh;
	margin-bottom: 4vh;
}

.card2 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: var(--black);
	border: 1px solid rgba(0,79,168,0.3);
	border-radius: 5px;
	height: 280px;
}
.minisch {
	flex-direction: row !important;
	display: flex;
	justify-content: space-around;
	align-items: center;
}